<div class="project-wrapper">
    <h2><%= @project["name"] %></h2>

    <img src=<%= @project["image"] %>/>

    <div class="content"><%=@content%></div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href=<%= @project["link"] %> target="blank"><button type="button" class="btn btn-default  link-buttons">See project</button></a>
      </div>
 
      <div class="btn-group" role="group">
        <a href=<%= @project["github_link"] %> target="blank"><button type="button" class="btn btn-default link-buttons">Github</button></a>
      </div>
    </div>


    <ul class="projects-list">
    <h4 style="text-align: center">Other Projects:</h4>
      <% @projects.each do |project| %>

      <% if project["id"] != @project["id"] %>


        <li class=<% if project["id"].to_i.odd? %>"project-odd"<% else %>"project-even"<% end %>>
          <a href=<%="/projects/#{project['id']}"%>><%=project["name"]%></a>
        </li>

      <% end %>
      <% end %>
    </ul>

    <br/><br/>
    <% if current_user == "Marina" %>
        <a href=<%="/projects/#{@project["id"]}/edit"%>>Edit project</a>
    <% end %>

</div>